In [1]:
dataset=[['milk','onion','nutmeg','kidney beans','eggs','yogurt'],
         ['dill','onion','nutmug','kidney beans','eggs','yogurt'],
         ['milk','apple','kidney beans','eggs'],
         ['milk','unicorn','corn','kidney beans','yogurt'],
         ['corn','onion','onion','kidney beans','ice cream','eggs']]

In [2]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

C:\Users\Komati Satya\AppData\Local\Temp\ipykernel_2340\1579457872.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
dataset

[['milk', 'onion', 'nutmeg', 'kidney beans', 'eggs', 'yogurt'],
 ['dill', 'onion', 'nutmug', 'kidney beans', 'eggs', 'yogurt'],
 ['milk', 'apple', 'kidney beans', 'eggs'],
 ['milk', 'unicorn', 'corn', 'kidney beans', 'yogurt'],
 ['corn', 'onion', 'onion', 'kidney beans', 'ice cream', 'eggs']]

In [5]:
te=TransactionEncoder()
te_ary=te.fit(dataset).transform(dataset)

In [6]:
df=pd.DataFrame(te_ary,columns=te.columns_)
df

,apple,corn,dill,eggs,ice cream,kidney beans,milk,nutmeg,nutmug,onion,unicorn,yogurt
0,False,False,False,True,False,True,True,True,False,True,False,True
1,False,False,True,True,False,True,False,False,True,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False,False
3,False,True,False,False,False,True,True,False,False,False,True,True
4,False,True,False,True,True,True,False,False,False,True,False,False

In [8]:
from mlxtend.frequent_patterns import apriori

frequent_itemsets=apriori(df,min_support=0.6,use_colnames=True)
frequent_itemsets

    support                     itemsets
0       0.8                       (eggs)
1       1.0               (kidney beans)
2       0.6                       (milk)
3       0.6                      (onion)
4       0.6                     (yogurt)
5       0.8         (kidney beans, eggs)
6       0.6                (onion, eggs)
7       0.6         (kidney beans, milk)
8       0.6        (onion, kidney beans)
9       0.6       (yogurt, kidney beans)
10      0.6  (onion, kidney beans, eggs)

In [10]:
from mlxtend.frequent_patterns import association_rules
res=association_rules(frequent_itemsets,metric="confidence",min_threshold=0.7)
res

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(kidney beans),(eggs),1.0,0.8,0.8,0.80,1.00,0.00,1.0,0.0
1,(eggs),(kidney beans),0.8,1.0,0.8,1.00,1.00,0.00,inf,0.0
2,(onion),(eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf,0.5
3,(eggs),(onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6,1.0
4,(milk),(kidney beans),0.6,1.0,0.6,1.00,1.00,0.00,inf,0.0
5,(onion),(kidney beans),0.6,1.0,0.6,1.00,1.00,0.00,inf,0.0
6,(yogurt),(kidney beans),0.6,1.0,0.6,1.00,1.00,0.00,inf,0.0
7,"(onion, kidney beans)",(eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf,0.5
8,"(onion, eggs)",(kidney beans),0.6,1.0,0.6,1.00,1.00,0.00,inf,0.0
9,"(kidney beans, eggs)",(onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6,1.0
10,(onion),"(kidney beans, eggs)",0.6,0.8,0.6,1.00,1.25,0.12,inf,0.5
11,(eggs),"(onion, kidney beans)",0.8,0.6,0.6,0.75,1.25,0.12,1.6,1.0

In [12]:
res1=res[['antecedents','consequents','support','confidence','lift']]
res1

              antecedents            consequents  support  confidence  lift
0          (kidney beans)                 (eggs)      0.8        0.80  1.00
1                  (eggs)         (kidney beans)      0.8        1.00  1.00
2                 (onion)                 (eggs)      0.6        1.00  1.25
3                  (eggs)                (onion)      0.6        0.75  1.25
4                  (milk)         (kidney beans)      0.6        1.00  1.00
5                 (onion)         (kidney beans)      0.6        1.00  1.00
6                (yogurt)         (kidney beans)      0.6        1.00  1.00
7   (onion, kidney beans)                 (eggs)      0.6        1.00  1.25
8           (onion, eggs)         (kidney beans)      0.6        1.00  1.00
9    (kidney beans, eggs)                (onion)      0.6        0.75  1.25
10                (onion)   (kidney beans, eggs)      0.6        1.00  1.25
11                 (eggs)  (onion, kidney beans)      0.6        0.75  1.25

In [13]:
res2=res1[res1['confidence']>=1]
res2

              antecedents           consequents  support  confidence  lift
1                  (eggs)        (kidney beans)      0.8         1.0  1.00
2                 (onion)                (eggs)      0.6         1.0  1.25
4                  (milk)        (kidney beans)      0.6         1.0  1.00
5                 (onion)        (kidney beans)      0.6         1.0  1.00
6                (yogurt)        (kidney beans)      0.6         1.0  1.00
7   (onion, kidney beans)                (eggs)      0.6         1.0  1.25
8           (onion, eggs)        (kidney beans)      0.6         1.0  1.00
10                (onion)  (kidney beans, eggs)      0.6         1.0  1.25