In [1]:
dataset=[['milk','onion','nutmeg','kidney beans','eggs','yogurt'],
         ['dill','onion','nutmug','kidney beans','eggs','yogurt'],
         ['milk','apple','kidney beans','eggs'],
         ['milk','unicorn','corn','kidney beans','yogurt'],
         ['corn','onion','onion','kidney beans','ice cream','eggs']]

In [3]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import fpgrowth
from mlxtend.frequent_patterns import association_rules

C:\Users\Komati Satya\AppData\Local\Temp\ipykernel_18000\1192443624.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [7]:
from mlxtend.preprocessing import TransactionEncoder

te=TransactionEncoder()
te_ary=te.fit(dataset).transform(dataset)
df=pd.DataFrame(te_ary,columns=te.columns_)
df

,apple,corn,dill,eggs,ice cream,kidney beans,milk,nutmeg,nutmug,onion,unicorn,yogurt
0,False,False,False,True,False,True,True,True,False,True,False,True
1,False,False,True,True,False,True,False,False,True,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False,False
3,False,True,False,False,False,True,True,False,False,False,True,True
4,False,True,False,True,True,True,False,False,False,True,False,False

In [9]:
fpgrowth(df,min_support=0.6)

    support   itemsets
0       1.0        (5)
1       0.8        (3)
2       0.6       (11)
3       0.6        (9)
4       0.6        (6)
5       0.8     (3, 5)
6       0.6    (11, 5)
7       0.6     (9, 3)
8       0.6     (9, 5)
9       0.6  (9, 3, 5)
10      0.6     (5, 6)

In [11]:
frequent_itemsets=fpgrowth(df,min_support=0.6,use_colnames=True)
frequent_itemsets

    support                     itemsets
0       1.0               (kidney beans)
1       0.8                       (eggs)
2       0.6                     (yogurt)
3       0.6                      (onion)
4       0.6                       (milk)
5       0.8         (eggs, kidney beans)
6       0.6       (yogurt, kidney beans)
7       0.6                (eggs, onion)
8       0.6        (kidney beans, onion)
9       0.6  (eggs, kidney beans, onion)
10      0.6         (milk, kidney beans)

In [13]:
rules=association_rules(frequent_itemsets,metric="confidence",min_threshold=0.8)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(eggs),(kidney beans),0.8,1.0,0.8,1.0,1.00,0.00,inf,0.0
1,(kidney beans),(eggs),1.0,0.8,0.8,0.8,1.00,0.00,1.0,0.0
2,(yogurt),(kidney beans),0.6,1.0,0.6,1.0,1.00,0.00,inf,0.0
3,(onion),(eggs),0.6,0.8,0.6,1.0,1.25,0.12,inf,0.5
4,(onion),(kidney beans),0.6,1.0,0.6,1.0,1.00,0.00,inf,0.0
5,"(eggs, onion)",(kidney beans),0.6,1.0,0.6,1.0,1.00,0.00,inf,0.0
6,"(kidney beans, onion)",(eggs),0.6,0.8,0.6,1.0,1.25,0.12,inf,0.5
7,(onion),"(eggs, kidney beans)",0.6,0.8,0.6,1.0,1.25,0.12,inf,0.5
8,(milk),(kidney beans),0.6,1.0,0.6,1.0,1.00,0.00,inf,0.0

In [14]:
from mlxtend.frequent_patterns import apriori
%timeit apriori(df,min_support=0.6)

1.86 ms ± 44.9 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [15]:
%timeit fpgrowth(df,min_support=0.6)

565 µs ± 21.3 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)